.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.error {
  color: red;
}
