.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pointer {
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
}

.tic-tac-toe {
  display: grid;
  grid-template-columns: min-content min-content min-content;
}

.form-link {
  margin: 0.8rem;
  font-size: 1.2rem;
}

.tic-tac-toe button {
  padding: 1rem;
  font-size: 3rem;
  min-width: 50px;
  width: 100px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px darkgray;
}

.results {
  min-width: 100%;
}

.results p {
  font-size: 1.6rem;
  padding: 0.2rem;
  font-weight: 800;
}

.results p span {
  font-weight: 200;
}

.full-row {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.game-results > * {
  width: 100%;
}
