<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  {{#if session.isAuthenticated}}
    <header class="mdl-layout__header mdl-layout__header--scroll">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">TicTacToe</span>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation">
          {{#link-to "games" class="mdl-navigation__link"}}Games{{/link-to}}
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" {{action "logOut"}}>
            Sign out
          </button>
        </nav>
      </div>
    </header>
  {{/if}}
  <main class="mdl-layout__content">
    <div class="page-content">
      {{outlet}}
    </div>
  </main>
</div>
